<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CreateJS Experiments</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

</head>
<body>

<ul>
    <li>@Html.ActionLink("Experiment 1", "Experiment1")</li>
    <li>@Html.ActionLink("Experiment 2", "Experiment2")</li>
    <li>@Html.ActionLink("Experiment 3", "Experiment3")</li>
</ul>

</body>
</html>